<div>
	<h2>Schedules</h2>
	<form role="form">
		<div class="row">
			<div class="form-group col-md-2">
				<label for="criteriaOrigin">Origin:</label> <input
					class="form-control" id="criteriaOrigin" ng-model="criteria.origin"
					type="text" />
			</div>
			<div class="form-group col-md-2">
				<label for="criteriaDestination">Destination:</label> <input
					class="form-control" id="criteriaDestination"
					ng-model="criteria.destination" type="text" />
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<button type="button" class="btn btn-primary"
					ng-click="getSchedules()">
					<i class="fa fa-plane"></i> Get Schedules
				</button>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-2">
				<label for="searchFilter">Filter:</label> <input
					class="form-control" id="searchFilter" ng-model="searchFilter"
					type="text" />
			</div>
		</div>
	</form>

	<table class="table table-bordered">
		<thead>
			<th>Origin</th>
			<th>Destination</th>
			<th>Flight Number</th>
			<th>Departure Time</th>
			<th>Arrival Time</th>
		</thead>
		<tbody>
			<tr ng-repeat="schedule in schedules | filter:{ origin: searchFilter }">
				<td>{{schedule.origin}}</td>
				<td>{{schedule.destination}}</td>
				<td>{{schedule.flightNumber}}</td>
				<td>{{schedule.departureTime}}</td>
				<td>{{schedule.arrivalTime}}</td>
			</tr>
		</tbody>
	</table>
</div>