<div>
	<h2>Admin</h2>

	<form role="form">
		<div class="form-group">

			<button type="button" class="btn btn-default"
				ng-click="populateSchedules()">Populate Schedules</button>
		</div>
	</form>
</div>